<form [formGroup]="configForm" (ngSubmit)="Salvar()">
  <div class="form">
    <div>

      <mat-form-field class="margin-right">
        <mat-label>Ordem de exibição:</mat-label>
        <mat-select formControlName="eOrdemExibicaoId">
          <mat-option [value]="1">Mais Recentes</mat-option>
          <mat-option [value]="2">Mais Antigos</mat-option>
          <mat-option [value]="3">Ordem Manual</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Avisos em Exibição</mat-label>
        <input type="number" matInput formControlName="quantAvisosExibicao" min="1" class="custom-number-input" (focus)="showButtons('quantAvisosExibicao')" (blur)="hideButtons('quantAvisosExibicao')">
        <mat-error *ngIf="configForm.get('quantAvisosExibicao')?.invalid && configForm.get('quantAvisosExibicao')?.touched"> Indique uma quantidade válida</mat-error>
        <div class="custom-bullets" [class.visible]="buttonsVisible.quantAvisosExibicao">
          <div (mousedown)="increment('quantAvisosExibicao','quantAvisosExibicao')" class="bullet">
            <span class="arrow-up"></span>
          </div>
          <div (mousedown)="decrement('quantAvisosExibicao','quantAvisosExibicao')" class="bullet">
            <span class="arrow-down"></span>
          </div>
        </div>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="margin-right">
        <mat-label>Excluir avisos arquivados após(dias)</mat-label>
        <input type="number" matInput formControlName="diasParaExcluir" min="1" class="custom-number-input" (focus)="showButtons('diasParaExcluir')" (blur)="hideButtons('diasParaExcluir')">
        <mat-error *ngIf="configForm.get('diasParaExcluir')?.invalid && configForm.get('diasParaExcluir')?.touched">Indique uma quantidade válida</mat-error>
        <div class="custom-bullets" [class.visible]="buttonsVisible.diasParaExcluir">
          <div (mousedown)="increment('diasParaExcluir','diasParaExcluir')" class="bullet">
            <span class="arrow-up"></span>
          </div>
          <div (mousedown)="decrement('diasParaExcluir','diasParaExcluir')" class="bullet">
            <span class="arrow-down"></span>
          </div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tempo de exibição(segundos)</mat-label>
        <input type="number" matInput formControlName="tempoExibicao" min="1" class="custom-number-input" (focus)="showButtons('tempoExibicao')" (blur)="hideButtons('tempoExibicao')">
        <mat-error *ngIf="configForm.get('tempoExibicao')?.invalid && configForm.get('tempoExibicao')?.touched"> Indique uma quantidade válida</mat-error>
        <div class="custom-bullets" [class.visible]="buttonsVisible.tempoExibicao">
          <div (mousedown)="increment('tempoExibicao','tempoExibicao')" class="bullet">
            <span class="arrow-up"></span>
          </div>
          <div (mousedown)="decrement('tempoExibicao','tempoExibicao')" class="bullet">
            <span class="arrow-down"></span>
          </div>
        </div>
      </mat-form-field>
    </div>
    <div class="textos">
      <div>
        <mat-form-field class="margin-right">
          <mat-label>Barra de rodapé - Texto 1</mat-label>
          <input matInput #input placeholder="Digite seu texto aqui" formControlName="texto1" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Barra de rodapé - Texto 2</mat-label>
          <input matInput #input placeholder="Digite seu texto aqui" formControlName="texto2" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="margin-right">
          <mat-label>Barra de rodapé - Texto 3</mat-label>
          <input matInput #input placeholder="Digite seu texto aqui" formControlName="texto3" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Barra de rodapé - Texto 4</mat-label>
          <input matInput #input placeholder="Digite seu texto aqui" formControlName="texto4" />
        </mat-form-field>
      </div>
    </div>
    <div class="flex">
      <app-button [buttonTitle]="'Cancelar'" [isButtonCancel]="true"></app-button>

      <app-spinner *ngIf="isLoading; else textButton" />
      <ng-template #textButton>
       <app-button [buttonTitle]="'Salvar'" [disabled]="configForm.invalid" type="submit"></app-button>
      </ng-template>

    </div>
  </div>
</form>