.modal{
  padding: 0 50px 20px 50px;
}
.mat-mdc-dialog-actions{
  justify-content: flex-end ;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  > h1 {
    display: flex;
    align-items: center;
    margin: 0 ;
    padding: 0;
    color: var(--primary-color);

    > mat-icon {
      display: flex;
      align-items: center;
      margin-right: .4rem;
      font: {
        size: 16pt;
        weight: bold;
      }
    }

    .title-text {
      font-weight: 500;
    }
  }
}
.inputs{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
  justify-content: flex-start;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  .input-color{
    position: absolute;
    opacity: 0;
  }
}
::ng-deep .mat-mdc-text-field-wrapper{
  height: 50.33px !important;
}

button{
  border: none;
  background-color: transparent;
}
.mat-icon{
cursor: pointer;
}
.btn{
  display: flex;
  gap: 1.875rem;
}
