:root {
  /* PRIMARY */
  --primary-color: #2F9E41;

  /* DANGER */
  --danger-color: #CD191E;
  --warn-color: #FFC107;

  --white-color: #FFF;
  --gray-lighter-color: #F6F6F6;;
  --gray-light-color: #EBEBEB;
  --gray-medium-color: #808080;
  --gray-dark-color: #303030;
  --text-color: #212121;
}
