<nav>
  <div class="content">
    <button (click)="toggleMobileMenu()">
      <app-vector-icon></app-vector-icon>
    </button>
    <app-maracanau-icon routerLink="/"></app-maracanau-icon>
    <ul class="menu">
      <li class="links" *ngIf="isAdminAccount">
        <a routerLink="/configuracoes">Configurações</a>
      </li>
      <li class="links"><a routerLink="/">Avisos</a></li>
      <li class="links" *ngIf="isAdminAccount">
        <a routerLink="/gerenciamento">Gestão</a>
      </li>
      <li class="links">
        <a (click)="logout()" (keypress)="logout()" tabindex="0"><app-exit-icon></app-exit-icon> Sair
        </a>
      </li>
    </ul>

    <div *ngIf="isMobileMenuOpen" class="mobile-menu">
      <ul>
        <li><a routerLink="/">Avisos</a></li>
        <li *ngIf="isAdminAccount">
          <a routerLink="/gerenciamento">Gestão</a>
        </li>
        <li>
          <a (click)="logout()" (keypress)="logout()" tabindex="0">
            <app-exit-icon></app-exit-icon> Sair
          </a>
        </li>
      </ul>
      <div class="closeismodal" (click)="toggleMobileMenu()" (keypress)="toggleMobileMenu()" tabindex="0"></div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>