<form class="container">
  <div class="content-section">
    <header>
      <div class="title-and-subtitle">
        <h2>Configurações Gerais</h2>
        <p>Altere a ordem, o tempo e quantidade de avisos em exibição.</p>
      </div>
      <div class="btn-add-user">
        <button (click)="openModal()">
          <mat-icon  >add</mat-icon>
        </button>
      </div>
    </header>
    <app-config-form></app-config-form>
    <header>
      <div class="title-and-subtitle">
        <h2>Configurações de Categorias</h2>
        <p>Adicione, edite ou exclua as categorias do sistema, podendo inclusive alterar as cores das mesmas.</p>
      </div>
    </header>
    <app-config-table></app-config-table>
  </div>
  <div class="flex">
  <button mat-button class="cancel" type="button" mat-dialog-close>
    Cancelar
  </button>
  <button mat-button class="save" type="submit">
    <app-spinner *ngIf="isLoading; else textButton" />
    <ng-template #textButton > Salvar </ng-template>
  </button>
</div>
</form>